<!-- This Django template code extends a base template
     and displays a welcome message and an image on a web page.  -->

{% extends 'video_collection/base.html' %} 

{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>Welcome to the {{ app_name }} app!</h2>

    <p>This application will show you places and tourist options in Europe using the services of
        <a href="https://www.expedia.com/">Expedia.com!</a>
    </p>

    <img src="https://www.nationsonline.org/maps/countries_europe_map-L.jpg" alt="nationsonline.org" style="width:490px;height:450px;">
</body>



{% endblock %}